 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 * {
     box-sizing: border-box;
 }

 body {
     min-width: 360px;
     background: #fff;
     color: #261f25;
     margin: 0;
     font: 16px/1.5 'Montserrat', sans-serif;

     @media (max-width: 1023px) {
         font-size: 14px;
     }
 }

 .justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.flex-direction-row {
    @media (min-width: 768px) {
        flex-direction: row !important;
    }
}

.flex-direction-reverse {
    @media (min-width:768px) {
        flex-direction: row-reverse !important;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.row-block {
    margin: -30px -15px 0;
    display: flex;
    flex-flow: row wrap;

    &.column-straight-tablet {
        @media (max-width: 1023px) {

            [class^="col-block"],
            [class*=" col-block"] {
                width: 100% !important;
            }
        }
    }

    [class^="col-block"],
    [class*=" col-block"] {
        padding: 30px 15px 0;
        width: 100%;
    }

    >.col-block {

        @media (min-width: (768px)) {
            &-1 {
                width: calc(100/12 * 1%);
            }

            &-2 {
                width: calc(100/12 * 2%);
            }

            &-3 {
                width: calc(100/12 * 3%);
            }

            &-4 {
                width: calc(100/12 * 4%);
            }

            &-5 {
                width: calc(100/12 * 5%);
            }

            &-6 {
                width: calc(100/12 * 6%);
            }

            &-7 {
                width: calc(100/12 * 7%);
            }

            &-8 {
                width: calc(100/12 * 8%);
            }

            &-9 {
                width: calc(100/12 * 9%);
            }

            &-10 {
                width: calc(100/12 * 10%);
            }

            &-11 {
                width: calc(100/12 * 11%);
            }

            &-12 {
                width: calc(100/12 * 12%);
            }
        }
    }
}


/* Forms Styles*/
form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 20px;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea,
.form-control {
    font: 500 14px/18px "Montserrat", Arial;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    padding: 20px 27px;
    height: 65px;
    width: 100% !important;
    color: #261f25;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.07);

    @media (max-width: 1023px) {
        padding: 15px 20px;
    }

    &:focus {
        outline: none;
        border-color: rgba(0, 0, 0, 0.2);
    }

    &::placeholder {
        color: #999;
        opacity: 1;
    }
}
textarea {
    min-height: 170px;
}

select {
    -webkit-border-radius: 0;
}

textarea {
    resize: vertical;
    vertical-align: top;
    resize: none;
    height: 170px;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    cursor: pointer;
}

 #wrapper {
     position: relative;
     overflow: hidden;
 }

 .container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 15px;
 }

 .container-lg {
     max-width: 1550px;
     margin: 0 auto;
     padding: 0 15px;
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }

 a {
     text-decoration: none;
     color: #ca292d;
 }



 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     line-height: 1.2;
     margin: 0 0 20px;
     font-weight: 700;

     a {
         color: inherit;
     }

     span {
         position: relative;
         color: #e03a29;
     }
 }

 h1 {
     font-size: 72px;
     text-transform: uppercase;

     @media (max-width: 1199px) {
         font-size: 55px;
     }

     @media (max-width: 1023px) {
         font-size: 45px;
     }

     @media (max-width: 767px) {
         font-size: 35px;
     }

 }

 h2 {
     font-size: 42px;
     text-transform: uppercase;
     position: relative;

     @media (max-width: 1199px) {
         font-size: 36px;
     }

     @media (max-width: 1023px) {
         font-size: 30px;
     }

     @media (max-width: 767px) {
         font-size: 25px;
     }

     &.border {
         padding: 0 0 40px;

         &::after {
             content: "";
             position: absolute;
             bottom: 0;
             left: 0;
             background: #ca292d;
             width: 100px;
             height: 8px;
         }
     }
 }

 h3 {
     font-size: 36px;
     text-transform: uppercase;

     @media (max-width: 1199px) {
         font-size: 30px;
     }

     @media (max-width: 1023px) {
         font-size: 23px;
     }

     @media (max-width: 767px) {
         font-size: 20px;
     }

 }

 h4 {
     font-size: 24px;
     text-transform: uppercase;
     margin: 0;

     @media (max-width: 1023px) {
         font-size: 18px;
     }
 }

 h5 {
     font-size: 18px;
     margin: 0;
     line-height: 1.2;
     font-weight: 500;
     text-transform: uppercase;

     @media (max-width: 1023px) {
         font-size: 16px;
     }
 }

 p, ul {
     margin: 0 0 20px;

     @media (max-width: 1023px) {
         margin: 0 0 15px;
     }

     &:last-child {
         margin: 0;
     }
 }

 a,
 button,
 input {
     transition: all .3s ease-in-out;
 }

 .btn {
    -webkit-appearance: none;
    font: 500 16px/22px "Montserrat", Arial;
     outline: none !important;
     box-shadow: none;
     border: 1px solid transparent;
     border-radius: 0;
     position: relative;
     background: #e03a29;
     color: #fff;
     display: inline-flex;
     vertical-align: top;
     align-items: center;
     justify-content: center;
     text-align: center;
    
     padding: 23px 20px;
     min-width: 200px;
     text-transform: uppercase;
     font-weight: 500;

     @media (max-width: 1023px) {
         font-size: 14px;
         padding: 15px;
         min-width: 150px;
     }

     &.btn-sm {
        font-size: 14px;
        min-width: 170px;
        padding: 16px 15px;
     }

     span {
        display: block;
        font-size: 14px;
     }
 }

 .btn-primary {
     background-color: #ca292d;

     &:hover,
     &:focus {
         background: darken(#ca292d, 10%);
     }
 }

 .btn-white {
     background-color: #fff;
     color: #000;
     border-color: #eaeaea;
 }

 .btn-white:hover {
     background-color: #2f3186;
     color: #fff;
 }

 .full-width-bg {
     position: relative;
     z-index: 50;
 }

 .full-width-bg::before {
     background-color: #18356d;
     position: absolute;
     left: -9999px;
     top: 0;
     bottom: 0;
     z-index: -1;
     width: 9999px;
     content: '';
 }

 .header {
     width: 100%;
     position: absolute;
     left: 0;
     z-index: 5000;
     top: 0;
     background: rgba(255, 255, 255, 0.05);

    
     @media (max-width: 767px) {
        background: #18356d;
     }
 }

 .header .logo {
     background-color: #18356d;
     padding: 38px 20px 38px 0;
     position: relative;
     width: 277px;
     flex-shrink: 0;

     @media (max-width: 1023px) {
         width: 220px;
         padding: 15px 15px 15px 0;
     }
 }

 .header .top-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header .top-header .navbar {
     flex-grow: 1;
     padding: 0 0 0 20px;

     @media (max-width: 767px) {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: #18356d;
        padding: 0; 
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        .nav-active & {
            opacity: 1;
            visibility: visible;
        }
     }
 }

 .header .top-header .navbar ul {
     margin: 0 -50px 0 0;
     padding: 0;
     list-style: none;
     display: flex;
     justify-content: flex-end;

     @media (max-width: 1023px) {
         margin: 0 -20px 0 0;
     }
     @media (max-width: 767px) {
        display: block;
     }
 }

 .header .top-header .navbar ul li {
     margin-right: 50px;

     @media (max-width: 1023px) {
         margin: 0 20px 0 0;
     }
     @media (max-width: 767px) {
        margin: 0;
        border-top: 1px solid rgba(#fff, .1);
    }
 }


 .header .top-header .navbar ul li a {
     color: #fff;
     display: block;
     text-transform: uppercase;
     line-height: 1.2;
     font-weight: 500;
     @media (max-width: 767px) {
        padding: 15px;

     }
 }

 .header .top-header .navbar ul li a:hover,
 .header .top-header .navbar ul li.active a {
     color: #e03a29;
 }

 .nav-opener {
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     position: absolute;
     right: 15px;
     top: 50%;
     transform: translateY(-50%);
     transition-property: right !important;
     background: #e03a29;

     @media (min-width: 768px) {
         display: none;
     }
 }

 .nav-opener:before,
 .nav-opener:after,
 .nav-opener span {
     width: 24px;
     height: 2px;
     background: #fff;
     content: "";
     display: block;
     transition: all 0.3s ease-in-out;
 }

 .nav-opener:before {
     margin-bottom: 6px;
 }

 .nav-active .nav-opener:before {
     margin-bottom: -2px;
     transform: rotate(45deg);
 }

 .nav-opener:after {
     margin-top: 6px;
 }

 .nav-active .nav-opener:after {
     margin-top: -2px;
     transform: rotate(-45deg);
 }

 .nav-active .nav-opener span {
     opacity: 0;
 }

 .nav-active {
     overflow: hidden;
 }

 .header-banner {
     overflow: hidden;
     position: relative;
     background-color: #3b5686;
     color: #fff;
 }

 .header-banner .banner-frame {
     display: flex;
     align-items: center;
     width: 100%;
     min-height: 100vh;
 }

 .header-banner.subpage .banner-frame {
    min-height: 570px;
    @media (max-width: 1023px) {
        min-height: 400px;
    }
    @media (max-width: 767px) {
        min-height: 300px;
    }
 }


 .header-banner .banner-body {
     padding: 202px 0 40px;
     width: 100%;
     position: relative;
     z-index: 50;
     font-size: 18px;

     @media (max-width: 1023px) {
         font-size: 16px;
         padding-top: 140px;
     }
     h1 {
        &:last-child {
            margin-bottom: 0;
        }
     }
 }

 .header-banner .banner-image {
     background-color: #3b5686;
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
 }

 .header-banner .banner-image img {
     width: 100%;
     height: 100%;
     display: block;
     object-fit: cover;
     object-position: center;
 }

 .header-banner .btn-block {
     padding: 70px 0 0;

     @media (max-width: 1023px) {
         padding: 35px 0 0;
     }

     @media (max-width: 767px) {
         padding: 20px 0 0;
     }
 }

 .section-content {
     position: relative;
     padding: 85px 0;
     min-height: 575px;
     background: #18356d;
     color: #fff;
     z-index: 50;

     @media (max-width: 1199px) {
         padding: 60px 0;
     }

     @media (max-width: 1023px) {
         padding: 40px 0;
         min-height: inherit;
     }

     h2 {
        font-weight: 800;
     }

     &:after {
         position: absolute;
         left: 50%;
         right: 0;
         top: 0;
         bottom: 0;
         content: "";
         background: #1d3c77;
         z-index: -1;

         @media (max-width: 1023px) {
             display: none;
         }
     }

     .block-frame {
         margin: 0 -65px;
         display: flex;
         align-items: center;

         @media (max-width: 1199px) {
             margin: -30px -30px 0;
         }

         @media (max-width: 1023px) {
             display: block;
         }
     }

     .block-holder {
         position: relative;
         padding: 0 65px;
         width: 50%;

         @media (max-width: 1199px) {
             padding: 30px 30px 0;
         }

         @media (max-width: 1023px) {
             width: 100%;
         }

     }

     p {
         text-align: justify;
     }

     &.reverse {
         background: #c22327;

         .block-frame {
             flex-flow: row-reverse nowrap;
         }

         &:after {
             background: #ca292d;
         }

         h2:after {
             background: #18356d;
         }
     }

     .paragraph-heading {
         padding: 0 0 28px;

         @media (max-width: 1023px) {
             padding: 0 0 20px;
         }
     }

 }





 .section.workshop-summary {
     padding: 150px 0;
     background: #18356d;
     color: #fff;

     @media (max-width: 1199px) {
         padding: 100px 0;
     }

     @media (max-width: 1023px) {
         padding: 50px 0;
     }
 }

 .section.workshop-summary .section-header {
     margin: 0 auto 100px;
     max-width: 845px;
     text-align: center;

     @media (max-width: 1199px) {
         margin-bottom: 70px;
     }

     @media (max-width: 1023px) {
         margin-bottom: 40px;
     }

 }

 .section.workshop-summary .workshop-grid {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
 }

 .workshop-grid .workshop-block {
     padding: 12px 6px 0;
     width: 33%;
     display: flex;
     flex-flow: row wrap;

     @media (max-width: 767px) {
         width: 100%;
     }
 }

 .workshop-grid .workshop-block .workshop-holder {
     width: 100%;
     display: flex;
     color: inherit;
     background-color: #112d63;
     padding: 40px 27px;
     min-height: 320px;
     color: #fff;
     flex-flow: row wrap;

     @media (max-width: 1023px) {
         padding: 30px 20px;
         min-height: 270px;
     }
 }

 .workshop-grid .workshop-block .workshop-holder .duration {
     align-self: flex-end;
     width: 100%;
     font-size: 22px;
     text-transform: uppercase;
     color: #34589d;
     font-weight: 700;

     @media (max-width: 1023px) {
         font-size: 16px;
     }
 }

 .workshop-grid .workshop-block h4 {
    transition: all .3s ease-in-out;
 }

 .workshop-grid .workshop-block:hover h4 {
     color: #ca292d;
 }

 .section.workshop-summary .btn-block {
     padding: 120px 0 0;
     text-align: center;

     @media (max-width: 1199px) {
         padding: 80px 0 0;
     }

     @media (max-width: 1023px) {
         padding: 40px 0 0;
     }
 }


 .section.testimonials {
     padding: 135px 0;
     background-color: #f1f6ff;

     @media (max-width: 1199px) {
         padding: 80px 0;
     }

     @media (max-width: 1023px) {
         padding: 50px 0;
     }
 }

 .testimonail-block .btn-block {
     width: 100%;
     align-self: flex-end;
     padding: 57px 0 0;

     @media (max-width: 1199px) {
         padding: 40px 0 0;
     }

     @media (max-width: 767px) {
         padding: 30px 0 0;
     }
 }

 .testimonail-block .btn-block .btn {
     min-height: 80px;
     display: inline-flex;
     text-align: left;
     padding: 10px 35px;
     justify-content: center;
     align-items: flex-start;
     flex-flow: column nowrap;
 }

 .section.testimonials .testimonial-grid {
     display: flex;
     margin: -30px -15px 0;

     @media (max-width: 1023px) {
         display: block;
     }
 }

 .testimonial-grid .testimonail-block {

     display: flex;
     color: #18356d;
     position: relative;
     padding: 30px 15px 0;
     width: 50%;

     @media (max-width: 1023px) {
         width: 100%;
     }
     p {
        font-weight: 300;
     }
 }

 .testimonial-grid .testimonail-block .block-holder {
     background-color: #fff;
     width: 100%;
     padding: 60px 30px 0;
     position: relative;
     display: flex;
     flex-flow: row wrap;
 }

 .testimonail-block .block-header {
     min-height: 108px;
     margin: 0 0 30px;
     max-width: 70%;

     @media (max-width: 1023px) {
         min-height: inherit;
         max-width: 100%;
     }
 }

 .testimonail-block .block-header h5:first-child {
     color: #d14649;
 }

 .testimonail-block .block-header h3,
 .testimonail-block .block-header h5 {
     color: #18356d;
     margin: 0;
 }


 .testimonail-block .message-block p {
     margin: 0 0 20px;
     text-align: justify;
 }

 .testimonail-block .message-block p:last-child {
     margin: 0;
 }


 .footer {
     background: #18356d;
     font-size: 14px;
     line-height: 2;
     color: #fff;
     font-weight: 500
 }

 @media (max-width:1023px) {
     .footer {
         font-size: 13px;
         line-height: 1.6
     }
 }

 .footer ul {
     list-style: none;
     padding: 0
 }

 @media (max-width:767px) {
     .footer .logo {
         margin: 0 0 20px
     }
 }

 .footer .logo a {
     margin: 0
 }

 .pri-footer {
     padding: 35px 0;
     border-bottom: 1px solid rgba(255, 255, 255, 0.05)
 }

 @media (max-width:767px) {
     .pri-footer {
         padding: 25px 0 5px
     }
 }

 .pri-footer .container {
     display: flex;
     align-items: center
 }

 @media (max-width:767px) {
     .pri-footer .container {
         flex-flow: row wrap
     }
 }

 .additional-info {
     display: flex;
     margin: 0 0 4px;
     text-transform: uppercase
 }

 @media (max-width:767px) {
     .additional-info {
         width: calc(100% + 30px);
         flex-flow: row wrap;
         margin: 0 -15px
     }
 }

 .additional-info li {
     margin: 0 57px
 }

 @media (max-width:1023px) {
     .additional-info li {
         margin: 0 0 0 50px
     }
 }

 @media (max-width:767px) {
     .additional-info li {
         margin: 0 15px 20px
     }
 }

 .additional-info .title {
     display: block;
     color: #34589d;
     font-weight: 500;
     margin: 0 0 11px;
     line-height: 1.5
 }

 .additional-info .text {
     display: block;
     font-size: 24px;
     font-weight: 500;
     line-height: 1;
     color: #fff
 }

 @media (max-width:1199px) {
     .additional-info .text {
         font-size: 21px
     }
 }

 @media (max-width:1023px) {
     .additional-info .text {
         font-size: 18px
     }
 }

 .sec-footer .container {
     display: flex;
     justify-content: space-between
 }

 @media (max-width:1023px) {
     .sec-footer .container {
         flex-flow: row wrap
     }
 }

 .sec-footer a {
     color: #34589d;
     text-decoration: none;
     transition: all 0.3s ease-in-out
 }

 .sec-footer a:hover {
     color: #fff;
     text-decoration: underline
 }

 .theme-info {
     width: 23%;
     padding: 64px 30px 60px;
     background: rgba(255, 255, 255, 0.02)
 }

 @media (max-width:1199px) {
     .theme-info {
         padding: 45px 20px
     }
 }

 @media (max-width:1023px) {
     .theme-info {
         padding: 35px 15px 20px;
         margin: 0 -15px;
         width: calc(100% + 30px);
         border-bottom: 1px solid rgba(255, 255, 255, 0.05)
     }
 }

 @media (max-width:767px) {
     .theme-info {
         padding: 25px 15px 10px
     }
 }

 .theme-info p {
     font-weight: 500;
 }

 @media (max-width:1023px) {
     .theme-info p {
         margin: 0 0 15px
     }
 }

 .columns-holder {
     flex-grow: 1;
     flex-basis: 0;
     min-width: 0;
     display: flex;
     padding: 64px 30px 60px
 }

 @media (max-width:1199px) {
     .columns-holder {
         padding: 45px 20px
     }
 }

 @media (max-width:1023px) {
     .columns-holder {
         padding: 35px 0;
         width: 100%;
         flex-grow: inherit;
         flex-basis: auto
     }
 }

 @media (max-width:767px) {
     .columns-holder {
         flex-flow: row wrap;
         padding: 25px 0;
     }
 }

 .columns-holder .title {
     display: block;
     font-size: 16px;
     line-height: 1.5;
     font-weight: 500;
     margin: 0 0 16px
 }

 @media (max-width:1023px) {
     .columns-holder .title {
         font-size: 14px
     }
 }

 .social-links {
     width: 24%;
     margin: -3px 0 0
 }

 @media (max-width:767px) {
     .social-links {
         width: 50%;
         order: 3;
         margin: 0;
         padding-left: 20px !important
     }
 }

 .social-links li {
     margin: 0 0 32px
 }

 @media (max-width:767px) {
     .social-links li {
         margin: 0 0 22px
     }
 }

 .social-links li a {
     display: inline-block;
     vertical-align: top;
 }

 .usefull-links {
     width: 40%
 }
 .usefull-links  .title {
    color: #34589d;
 }
 @media (max-width:767px) {
     .usefull-links {
         width: 100%;
         order: 1;
         margin: 0 0 25px
     }
 }

 .usefull-links .links-wrap {
     display: flex
 }

 .usefull-links ul {
     margin: 0;
     width: 100%;
     font-size: 13px;
 }

 @media (max-width:1199px) {
     .usefull-links ul {
         width: 45%
     }
 }

 @media (max-width:767px) {
     .usefull-links ul {
         width: 50%
     }
 }

 .usefull-links ul li {
     margin: 0 0 14px
 }

 .usefull-links ul li a {
     display: inline-block
 }

 .usefull-links ul li a:hover {
     color: #fff;
     text-decoration: none;
 }

 .usefull-links ul+ul {
     padding-left: 17px
 }

 @media (max-width:767px) {
     .usefull-links ul+ul {
         padding-left: 20px
     }
 }

 .contact-column {
     width: 30%;
     font-size: 13px;
     line-height: 1.22;
 }

 @media (max-width:767px) {
     .contact-column {
         width: 50%;
         order: 2
     }
 }

 .contact-info {
     margin: 0;

 }

 .contact-info .subtitle {
     display: block;
     font-weight: 500;
     margin: 0 0 4px;
     color: #34589d
 }

 .contact-info li {
     line-height: 1.5;
 }

 .contact-info li a {
     color: #fff;
 }

 .contact-info li a:hover {
     text-decoration: none;
     color: #34589d;
 }

 address {
     font-style: normal;
 }



 @media (max-width:767px) {
     .contact-info li {
         padding: 0;
         margin: 0;
         border: 0
     }
 }

 .contact-info .number {
     font-size: 13px;
     display: inline-block;
     color: #fff
 }

 .footer-copyrights {
     background: #153168;
     font-size: 16px;
     line-height: 1.5;
     text-align: center;
     padding: 24px 0
 }

 @media (max-width:1023px) {
     .footer-copyrights {
         font-size: 14px
     }
 }

 @media (max-width:767px) {
     .footer-copyrights {
         font-size: 12px
     }
 }

 .footer-copyrights p {
     margin: 0;

     a {
         color: inherit;
     }
 }



 /* Page Contact */
 .contact-block {
    overflow: hidden;
    padding: 120px 0;
    

    h4 {
        font-weight: 500;
        margin: 0 0 40px;
        @media (max-width:1199px) {
            margin: 0 0 30px;
        }
        @media (max-width:1023px) {
            margin: 0 0 20px;
        }
    }

    .btn-block {
        @media (min-width:1200px) {
            padding-top: 60px;
        }
    }
 }
 .map-block {
    width: 100%;
    overflow: hidden;
    margin: 0 0 105px
}

@media (max-width:1199px) {
    .contact-block {
        padding: 80px 0;
     }
    .map-block {
        margin: 0 0 70px
    }
}

@media (max-width:1023px) {
    .contact-block {
        padding: 50px 0;
     }
    .map-block {
        margin: 0 0 40px
    }
}

.map-block iframe {
    border: 0;
    width: 100%;
    height: 537px
}

@media (max-width:1023px) {
    .map-block iframe {
        height: 450px
    }
}

@media (max-width:767px) {
    .map-block iframe {
        height: 300px
    }
}

.contact-information {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 370px;
    color: #999;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 500
}

@media (max-width:1023px) {
    .contact-information {
        max-width: inherit
    }
}

.contact-information>li {
    padding: 37px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    min-height: 135px
}

@media (max-width:1023px) {
    .contact-information>li {
        flex-flow: row wrap
    }
}

@media (max-width:767px) {
    .contact-information>li {
        padding: 25px 0
    }
}

.contact-information>li:first-child {
    padding-top: 7px;
    min-height: inherit
}

.contact-information>li:last-child {
    border: 0
}

.contact-information .title {
    font-size: 18px;
    line-height: 1.25;
    font-weight: 500;
    min-width: 130px;
    padding-right: 15px;
    color: #261f25;
    display: block;
    text-transform: uppercase
}

@media (max-width:1023px) {
    .contact-information .title {
        min-width: inherit;
        width: 100%;
        padding: 0 0 10px;
        font-size: 16px
    }
}

@media (max-width:1023px) {
    .contact-information .textbox {
        width: 100%
    }
}

.contact-information address {
    font-style: normal
}

.contact-information a {
    color: #999
}

.contact-information a:hover {
    color: #261f25
}

.contact-information .text {
    display: block
}

.contact-information .text+.text {
    padding-top: 7px
}

.contact-information .text.email a {
    text-decoration: underline
}

@media (max-width:1023px) {
    .contact-information .social-networks {
        position: static;
        padding: 0 !important;
        justify-content: flex-start;
        width: auto;
        margin: 0 -10px
    }
}

@media (max-width:767px) {
    .contact-information .social-networks {
        padding-top: 5px !important
    }
}

.contact-information .social-networks li a {
    color: #112c4f
}

.contact-information .social-networks li a:hover {
    opacity: 0.6
}


/* Section Workshops */
.section-workshops {
    position: relative;
    padding: 120px 0;
    color: #2e2b70;
    @media (max-width:1199px) {
        padding: 80px 0;
    }
    @media (max-width:1023px) {
        padding: 50px 0;
    }

    .workshop-block {
        position: relative;
        margin: -30px -15px 0;
        line-height: (1.875);
        display: flex;
        padding: 0 0 70px;
        @media (max-width:1199px) {
            padding: 0 0 50px;
        }
        @media (max-width:1023px) {
            padding: 0 0 30px;
        }
        @media (max-width: 767px) {
            display: block;
        }
        &:nth-child(even) {
            flex-flow: row-reverse nowrap;
        }
        &:last-child {
            padding: 0;
        }
        > * {
            width: 50%;
            padding: 30px 15px 0;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        .img-holder {
            @media (max-width: 767px) {
                max-width: 570px;
                margin: 0 auto;
            }
        }
        h5 {
            color: #e03a29;
            text-transform: uppercase;
            margin: 0;

        }
        h3 {
            margin: 0 0 20px;
            font-weight: 500;
            @media (min-width:1024px) {
                font-size: 32px;
            }
            span {
                font-weight: 400;
            }
            a:hover {
                color: #e03a29;
            }
        }
        p {
            text-align: justify;
            
            font-weight: 500;
        }
        .img-holder {
            img {
                width: 100%;
                display: block;
                border-radius: 20px;
                @media (max-width:767px) {
                    border-radius: 10px;
                }
            }
        }
    }
}

.main-content {
    position: relative;
    padding: 120px 0;
    color: #2e2b70;
    @media (max-width:1199px) {
        padding: 80px 0;
    }
    @media (max-width:1023px) {
        padding: 50px 0;
    }
    p {
        text-align: justify;
    }
}
